// HEADER
.header-menu {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  padding: 2rem 0.5rem;
  font-size: 1.125rem;
  border-bottom: 1px solid $white;
  top: 0;
  left: 50%; // option 1: center Header nav by defoult
  transform: translateX(-50%); // option 1
  // transition: all 0.3s ease-in-out; Figma option 2: center after contacts close
  &__items__wrapper {
    display: flex;
    align-items: center;
    width: 90%;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
  }
  &__item {
    list-style-type: none;
    padding: 0;
    // margin-left: 5.625rem; - according to Figma, changed to flexible
  }

  // &__logo {
  //   margin-left: 5.625rem; - according to Figma, changed to flexible
  // }

  &__link {
    text-decoration: none;
    color: inherit;
    position: relative;
    display: inline-block;
    transition: 0.3s ease-in-out;
    &::before {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      height: 1px;
      width: 0;
      background-color: $accent;
      transition: 0.4s ease-out;
    }
    &:hover {
      color: $accent;
      cursor: pointer;
      &:before {
        width: 100%;
      }
    }
  }
}

// social-link coloring properties
.social-svg__stroke-1,
.social-svg__stroke-2 {
  transition: stroke 0.4s ease-in-out;
}

.social-svg__fill {
  transition: fill 0.4s ease-in-out;
}

// FOOTER
.footer-menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5.125rem 1.5rem;
  font-size: 1.125rem;
  border-top: 1px solid $white;
  border-bottom: 1px solid $white;
  max-width: 100%;

  &__items {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  &__item {
    padding-top: 1.5rem;
    &:first-of-type {
      padding-top: 0;
      padding-bottom: 1rem;
      font-size: 1.5rem;
    }
  }

  &__copyright {
    padding: 2.5em 0;
    text-align: center;
  }
}
