// HEADER
.header-menu {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 2rem 0.5rem;
  font-size: 1.125rem;
  border-bottom: 1px solid $white;
  top: 0;

  &__items {
    display: flex;
    padding: 0;
  }
  &__item {
    list-style-type: none;
    padding: 0;
    margin-left: 5.625rem;
  }

  &__logo {
    margin-left: 5.625rem;
  }

  &__link {
    text-decoration: none;
    color: inherit;
    position: relative;
    display: inline-block;
    transition: 0.3s ease-in-out;
    &::before {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      height: 1px;
      width: 0;
      background-color: $accent;
      transition: 0.4s ease-out;
    }
    &:hover {
      color: $accent;
      cursor: pointer;
      &:before {
        width: 100%;
      }
    }
  }
}

// FOOTER
.footer-menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5.125rem 1.5rem;
  font-size: 1.125rem;
  border-top: 1px solid $white;
  border-bottom: 1px solid $white;

  &__items {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  &__item {
    padding-top: 1.5rem;
    &:first-of-type {
      padding-top: 0;
      padding-bottom: 1rem;
      font-size: 1.5rem;
    }
  }

  &__copyright {
    padding: 2.5em 0;
    text-align: center;
  }
}

// MAIN - banner
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $black50;

    &-image {
      object-fit: cover;
      width: 100vw;
      height: 100vh;
      z-index: -1;
    }
  }
}

h1 {
  font-size: 4.5rem;
  width: 35%;
  position: absolute;
}

// MAIN - contacts side-section
.contacts {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: $background;
  width: 25%;
  height: 100%;
  padding: 2.5rem 4.5rem;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
  }

  &__items {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  &__item {
    padding-top: 1.5rem;
    &:first-of-type {
      padding-top: 0;
      padding-bottom: 1rem;
      font-size: 1.5rem;
    }
  }

  &__close-button {
    display: inline;
    background-color: transparent;
    border: none;
    outline: none;
  }

  &__hidden {
    display: none;
  }
}

// MAIN - quote section
.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  margin: $block_m-top auto 0;

  &__openings {
    padding-bottom: 4.5rem;
  }

  &__text {
    text-align: center;
    font-size: 1.625rem;
    line-height: 1.3;
    margin: 0;
    padding-bottom: 1.5rem;
  }
}

// MAIN - offer section
.offer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 30%);
  justify-content: space-around;
  row-gap: 4rem;
  margin-top: $block_m-top;

  &__image {
    display: flex;
    width: 100%;
    object-fit: cover;
  }
  &__image-tint {
    position: relative;
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      position: absolute;
      background-color: $black20;
    }
  }
  &__image-frame {
    position: relative;
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      left: 1.5rem;
      bottom: 1.5rem;
      position: absolute;
      border: 1px solid $accent;
    }
  }
  &__title {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    transition: 0.3s ease-in-out;
    & h3 {
      font-size: 1.625rem;
    }
    &:hover {
      color: $accent;
    }
  }
}

// MAIN - brands section
.brands {
  margin-top: $block_m-top;

  &__list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
  }
  &__item {
    opacity: 0.5;
  }
}

// MAIN - gallery section
.gallery {
  display: flex;
  flex-direction: column;
  margin: $block_m-top 0;

  & h2 {
    font-size: 3rem;
    margin-bottom: 6rem;
    text-align: center;
  }

  &__filter {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 4rem;
    width: 60%;

    &-btn {
      display: inline-block;
      position: relative;
      background-color: transparent;
      border: none;
      outline: none;
      font-size: 1.5rem;
      color: inherit;
      transition: 0.3s ease-in-out;
      &::before {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        height: 1px;
        width: 0;
        background-color: $accent;
        transition: 0.4s ease-out;
      }
      &:hover {
        color: $accent;
        cursor: pointer;
        &:before {
          width: 100%;
        }
      }
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 30%);
    justify-content: space-evenly;
    grid-gap: 1.5rem;
  }

  &__card {
    &-image {
      display: flex;
      width: 100%;
      object-fit: cover;
    }
  }
}
