.header-menu {
  position: absolute;
  z-index: 1;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem 0.5rem;
  font-size: 1.125rem;
  border-bottom: 1px solid #ffffff;
}
.header-menu__items {
  display: flex;
  padding: 0;
}
.header-menu__item {
  list-style-type: none;
  padding: 0;
  margin-left: 5.625rem;
}
.header-menu__logo {
  margin-left: 5.625rem;
}
.header-menu__link {
  text-decoration: none;
  color: inherit;
  position: relative;
  display: inline-block;
  transition: 0.3s ease-in-out;
}
.header-menu__link::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 1px;
  width: 0;
  background-color: #cdaa7d;
  transition: 0.4s ease-out;
}
.header-menu__link:hover {
  color: #cdaa7d;
  cursor: pointer;
}
.header-menu__link:hover:before {
  width: 100%;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5.125rem 1.5rem;
  font-size: 1.125rem;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}
.footer-menu__items {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0;
}
.footer-menu__item {
  padding-top: 1.5rem;
}
.footer-menu__item:first-of-type {
  padding-top: 0;
  padding-bottom: 1rem;
  font-size: 1.5rem;
}
.footer-menu__copyright {
  padding: 2.5em 0;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.main__banner-image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

h1 {
  font-size: 4.5rem;
  width: 35%;
  position: absolute;
}

.contacts {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #111111;
  width: 25%;
  height: 100%;
  padding: 2.5rem 4.5rem;
}
.contacts__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
}
.contacts__items {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}
.contacts__item {
  padding-top: 1.5rem;
}
.contacts__item:first-of-type {
  padding-top: 0;
  padding-bottom: 1rem;
  font-size: 1.5rem;
}
.contacts__close-button {
  display: inline;
  background-color: transparent;
  border: none;
  outline: none;
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  margin: 7.5rem auto 0;
}
.quote__openings {
  padding-bottom: 4.5rem;
}
.quote__text {
  text-align: center;
  font-size: 1.6875rem;
  line-height: 1.3;
  margin: 0;
  padding-bottom: 1.5rem;
}

html {
  box-sizing: border-box;
}

*,
*:before,
* after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  position: relative;
  font-size: 16px;
  color: #ffffff;
  background-color: #111111;
  padding: 0;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  background-color: rgb(145, 201, 183);
}

.main {
  flex-grow: 1;
}/*# sourceMappingURL=styles.css.map */