@import "variables";

// index.html - main-page
@import "main__header_footer";
@import "main__banner_side-contacts";
@import "main__quote_offer_brands";
@import "main__gallery";

html {
  box-sizing: border-box;
}
*,
*:before,
*after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  position: relative;
  font-size: 16px;
  color: $white;
  background-color: $background;
  padding: 0;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.main {
  flex-grow: 1;
}
